/**Header */
.link {
    text-decoration: none!important;
    margin: 3vh;
    font-size: 20px;
}




.logo{
  text-transform: uppercase;
  margin-top: 0px!important;
  font-size: 4vh;
  color: #111;
  text-decoration: none;
}

.logo:hover{
  text-decoration: none;
}


.image__content {
  width: 100%!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 295px!important;
  overflow: hidden;
  padding: 8px;
}

.ui.vertical.animated.button {
  background: #00b5ad;
  color: #fff;
}

.image__content {
  transition: transform .5s ease;
  -webkit-transition: transform .5s ease;
  -moz-transition: transform .5s ease;
  -ms-transition: transform .5s ease;
  -o-transition: transform .5s ease;
}

.image__content:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}



.container__wrapper {
    margin-top: 3vh;
}

.container__wrappers {
  margin-top: 13vh;
}

.head_image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 69vh;
}

.header{
  font-size: 18px!important;
}





.container-wrapper {
  margin-top: 12vh;
}

.loading__product {
  font-size: 20px;
}

.visible {
  cursor: pointer;
}

.meta-description.meta {
  border-radius: 3px;
  background: #528ec9;
  color: #fff!important;
  padding: 15px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 12px;
  cursor: pointer;
}

.Jumbotron {
  background: #000000;
  background-image: url("https://i.pinimg.com/originals/a8/82/00/a8820040825217fff640048afa3be967.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;

}

.meta {
  color: #528ec9!important;
  font-weight: 600px;
}

.display-3 {
  font-weight: 700px!important;
  color: #fff;
  font-size: 80px;
}


.lead {
  font-weight: 700px!important;
  font-size: 35px;
  text-transform: capitalize;
  color: #fff;
}

.bottom__text {
  font-size: 25px;
  text-transform: capitalize;
  color: #fff;
}

.login_btn {
  float: right;
  margin-right: 40px!important;
  margin-top: 6px;
  text-decoration: none!important;
  font-size: 15px;
  background-color: #528ec9;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 12px;
  padding-right: 12px;
  height: 30px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: none;
  cursor: pointer;
}





.btn__primary {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 200px;
}


a {
  color: #000000;
  text-decoration: none!important;
  background-color: transparent;
}



